*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	padding: 32px;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container {
	width: 360px;
	margin: 0 auto;
}

.container,
.page-container {
	position: relative;
	border: 3px solid black;
	padding: 24px;
}

.container::before {
	content: "";
	position: absolute;
	z-index: -1;
	height: calc(100% + 8px);
	width: calc(100% + 8px);
	top: 5px;
	left: 5px;
	border: 3px solid black;
}

.title {
	font-size: 42px;
}

.recipes-list {
	list-style: inside;
	margin-top: 28px;
}

.recipes-list-item {
	margin-bottom: 14px;
}

.recipes-list-item:last-child {
	margin-bottom: 0;
}

.recipes-list-item::marker {
	content: "\2192";
}

.recipes-list-item a {
	text-decoration: none;
	font-size: 18px;
	color: black;
}

.recipes-list-item a:hover,
.return-link:hover {
	text-decoration: underline;
	text-decoration-style: dotted;
	text-underline-offset: 4px;
}

.page {
	width: 768px;
	margin: 0 auto;
}

.return-link {
	text-decoration: none;
	display: block;
	margin-bottom: 16px;
	font-size: 14px;
	color: blue;
}

.page-container h1 {
	margin-bottom: 8px;
}

.page-container img {
	width: 100%;
	height: 300px;
	object-position: 10%;
	object-fit: cover;
}

.page-container h2 {
	font-size: 28px;
	margin-top: 24px;
	margin-bottom: 8px;
}

.page-container h3 {
	margin-bottom: 8px;
}

.page-container ul {
	/* padding-left: 1em; */
	list-style-type: circle;
}

.page-container ol,
.page-container ul {
	display: table;
}

.page-container li {
	margin-bottom: 6px;
  display: table; /* instead of table-row */
}

.page-container ol > li {
	counter-increment: foo;
}

.page-container li::before {
  display: table-cell;
  text-align: right;
	padding-right: 8px;
}

.page-container ul > li::before {
	content: "\2192";
}

.page-container ol > li::before {
	content: counter(foo) ".";
}
